<ion-content [fullscreen]="true">
  <div
    id="map_canvas"
    style="width: 100%; height: 100%;background-color: #eeeeee;"
    *ngIf="dataFound"
  ></div>
  <div class="card no-data-card" *ngIf="!dataFound">
    <img src="assets/images/no-data.svg" alt="" />
    <div class="card-content-text" style="text-align: center">
      <h4>No Data Available</h4>
    </div>
  </div>
  <div class="card info-card" [ngStyle]="{display:display}">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="row" id="country"></div>
          <div class="row" id="last-updated">Last Updated</div>
        </div>
        <div class="col-6">
          <div class="row right-row" id="total-cases">
            Total cases <b id="total-cases-text" style="margin-left: 1rem"></b>
          </div>
          <div class="row right-row" id="new-cases">
            New Cases <b id="new-cases-text" style="margin-left: 1rem"></b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="data-not-loaded" *ngIf="!dataLoaded" >
    <div class="card content-card animated-card">
      <div class="row">
        <div class="col-4 ">
          <div class="card image-col"></div>
        </div>
        <div class="col-8 ">
          <div class="card content-col"></div>
        </div>
      </div>
      <div class="row bottom-row"></div>
    </div>
  </div>
</ion-content>
