<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="content-div" *ngIf="dataLoaded">
    <div class="iterator" *ngFor="let ele of news">
      <div class="card card-1">
        <div class="row" (click)="detailsNav(ele[0])">
          <div class="col-3 column-3">
            <img src="{{ ele[0].image.thumbnail }}" class="img-circle" alt="" />
          </div>
          <div class="col-9">
            <div class="card-title">
              {{ ele[0].provider.name }}
            </div>
            <div class="card-title date-time">
                {{ formatDate(ele[1].datePublished)}}
            </div>
          </div>
        </div>

        <div class="card-text" (click)="detailsNav(ele[0])">
          {{ ele[0].title }}
        </div>
        <div class="row share-btn">
          <button class="btn" (click)="share(ele[0])">
            <ion-icon class="share-icon" name="share-social-outline"></ion-icon>
          </button>
        </div>
      </div>
      <div class="card round-card"></div>
      <div class="card card-2" >
        <div class="row" (click)="detailsNav(ele[1])">
          <div class="col-3 column-3">
            <img src="{{ ele[1].image.thumbnail }}" class="img-circle" alt="" />
          </div>
          <div class="col-9">
            <div class="card-title">
              {{ ele[1].provider.name }}
            </div>
            <div class="card-title date-time">
              {{ formatDate(ele[1].datePublished)}}
            </div>
          </div>
        </div>

        <div class="card-text" (click)="detailsNav(ele[1])">
          {{ ele[1].title }}
        </div>
        <div class="row share-btn">
          <button class="btn" (click)="share(ele[1])">
            <ion-icon class="share-icon" name="share-social-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="data-not-loaded" *ngIf="!dataLoaded">
      <div class="card content-card animated-card">
        <div class="row">
          <div class="col-4 ">
            <div class="card image-col"></div>
          </div>
          <div class="col-8 ">
            <div class="card content-col"></div>
          </div>
        </div>
        <div class="row bottom-row"></div>
      </div>
      <div class="card content-card animated-card">
        <div class="row">
          <div class="col-4 ">
            <div class="card image-col"></div>
          </div>
          <div class="col-8 ">
            <div class="card content-col"></div>
          </div>
        </div>
        <div class="row bottom-row"></div>
      </div>
      <div class="card content-card animated-card">
        <div class="row">
          <div class="col-4 ">
            <div class="card image-col"></div>
          </div>
          <div class="col-8 ">
            <div class="card content-col"></div>
          </div>
        </div>
        <div class="row bottom-row"></div>
      </div>
      <div class="card content-card animated-card">
        <div class="row">
          <div class="col-4 ">
            <div class="card image-col"></div>
          </div>
          <div class="col-8 ">
            <div class="card content-col"></div>
          </div>
        </div>
        <div class="row bottom-row"></div>
      </div>
    </div>
  </div>
</ion-content>
